form {
    margin: 20px;
    width: 70%;
}

.title-p {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 600;
}

.doctor-appointments-div {
    height: 75%;
    width: 100%;
    background-color: white;
    padding: 20px 20px 20px 30px;
    border: solid 1px gray;
    border-radius: 10px;
    overflow-y: scroll;
    width: 350%;
}

hr {
    color: rgb(171, 171, 171);
}

.key-div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 20px;
}