.footer {
    ::selection {
        background-color: #3C39AB;
        color: white;
    }
}

.footer-p1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px;
    margin: 200px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 300px;
}

.footer-logo {
    font-size: 33px;
    color: #3C39AB;
    font-weight: 600;
}

.footer-summary {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 125px;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.footer-pages p {
    font-size: 30px;
    color: #3C39AB;
    font-weight: 600;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    font-size: 18px;
}

.footer-list li:hover {
    color: #3C39AB;
    cursor: pointer;
}

.footer-p2-cp {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}